/* 导入谷歌字体样式 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  /* 设置盒子模型为 IE盒子 */
  box-sizing: border-box;
  /* 设置字体 */
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4a98f7;
}

.container {
  display: flex;
  gap: 10px;
  /* 这里设置padding好像没什么作用 */
  /* padding: 10px; */

  /* 当屏幕宽度>1050时，最大为1050；当屏幕小于1050时，与屏幕同宽 */
  width: 100%;
  max-width: 1050px;

}

section {
  background-color: #fff;
  border-radius: 7px;
}

.drawing-board {
  /* 画板的大小可以随屏幕大小而变化 */
  flex: 1;
}

.tools-board {
  /* 固定工具栏的大小 */
  width: 210px;
  padding: 15px 22px 0;
}

.tools-board .row {
  margin-bottom: 20px;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .options .option {
  /* 通过flex布局将 图标图片与文字对齐 */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* gap: 10px; */
  cursor: pointer;

}

/* 选择 option中子元素中的 span 和 label */
.option :where(span, label) {
  /* 将文字颜色设置成图标的颜色 */
  color: #5a6168;
  /* 文字和图标之间间隔一定距离，也可以通过在父级options中设置gap */
  padding-left: 10px;
  cursor: pointer;

}

.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
  /* border: 5px solid #5a6168; */
}

/* 当鼠标经过或者有active这个类时，图标图片的颜色改变 */
.option:is(:hover, .active) img {
  /* filter属性，此处设置了以下属性值 
  invert反转输入图像
  sepia将图片转换为深褐色
  saturate设置图像的饱和度
  hue-ratate 调整元素的色相角度
  brightness 增加图像的亮度
  contrast 调整图像的对比度 */
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%)
}

/* 当鼠标经过或者有active这个类时，文字的颜色改变 */
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}

/* 当复选框被选中时，文字颜色需要改变 */
#fill-color:checked~label {
  /* ~ 表示匹配 #fill-color:checked 之后的所有兄弟为 label 的元素（二者具有共同的父元素） */
  color: #4a98f7;
}

/* 调整滑条的样式 */
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

/* 书写色块的样式 */
.colors .option {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  /* 尽量写百分比 */
  border-radius: 50%;
}

/* 实现色块圆环效果(鼠标选中 即拥有selected这个类时候(测试用hover经过))时出现): 添加一个小圆，并设置边框 */
.colors .option.selected::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 12px;
  height: 12px;
  background-color: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
}

/* 单独处理第一个白色色块 */
.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

/* 实现调色块：为色块填充不同的颜色 */
.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
  background-color: #000;
}

.colors .option:nth-child(3) {
  background-color: red;
}

.colors .option:nth-child(4) {
  background-color: rgb(88, 245, 88);
}

.colors .option:nth-child(5) {
  background-color: #4a98f7;
}


/* 添加按钮样式 */
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  /* 背景 */
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.buttons .clear-canvas {
  border: 1px solid #5a6168;
  color: #5a6168;
}

.buttons .save-img {
  background: #4a98f7;
}

.clear-canvas:hover {
  background: #5a6168;
  color: #fff;
  transition: all .3s;
}

.save-img:hover {
  background: rgb(2, 70, 122);
  transition: all .3s;
}

.option #color-picker {
  /* 可以将透明度设置为 .3 观察一下样式 */
  opacity: 0;
  cursor: pointer;
}


.drawing-board canvas {
  width: 100%;
  height: 100%;
}